body {
  background-image: url("../images/background.jpg");
  background-size: cover;
  font-family: 'Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif';
}

.my-trivia-card {
  margin-top: 8%;
}

.gif {
  height: 200px;
  width: 400px;
}

button {
  background-color: #4CAF50; /* Green */
  border: 1px solid darkgreen;
  color: white;
  margin: 1px;
  display: inline-block;
  font-size: 16px;
}

button:hover {
  background-color: darkgreen;
  color: white;
}

/* Media query to gif when width shrinks */
@media screen and (max-width: 768px) {

  .gif {
    height: 100px;
    width: 200px;
  }
}